body{
    margin: 0 ;
    padding: 0 ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(0, 0, 0);
    
}

.container{
    position: relative;
    width: 100% ;
    height: 100vh ;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* 保持视频比例并覆盖容器，但可能会裁剪部分内容 */
    object-position: center;
    /* 居中 */
}

.back-vid {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;


}

.cover{
    position:fixed;
    inset: 0 0 0 0;
    background-color: rgb(255, 255, 255);
    z-index: -1;
}





header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex ;
    align-items: center ;
    justify-content: space-between ;
    padding: 0 30px ;
    height: 70px ;
    background-color: rgba(255, 255, 255, 0.427);
    backdrop-filter: blur(5px);
    box-shadow: 0 0 15px #72a1de;
    z-index: 999;
    transition: background-color 0.3s ease;
}

header ul{
    display: flex ;
    justify-content: space-between ;
    width: auto ;
    padding: 15px 15px ;
    border-radius: 50px ;
    background-color: rgba(0, 0, 0, 0.362);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px #72a1de;
}

header ul li{
    list-style: none;
}


header ul a{
    text-decoration: none;
    color: white;
    font-weight: 700;
    transition: 0.3s;
    margin: 0 10px;
}

header ul a:hover{
    text-shadow: 0 0 15px black;
}

.box-icon{
    color: white;
    display: flex;
    gap: 40px;
}

.box-icon p{
    display: flex;
    align-items: center;
    justify-content: centre;
    font-size: 20px;
    width: 100px;
        /* 增大宽度 */
    height: 40px;
        /* 增大高度 */
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
}

.box-icon a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: inherit;
    font-size: 20px;
    width: 100px;
        height: 40px;
        border-radius: 10px;
        cursor: pointer;
            transition: 0.5s;
}
.box-icon a:hover {
    background: #72a1de;
    color: rgba(0, 0, 0, 0.383);
    box-shadow: 0 0 15px #72a1de;
}

.box-icon p:hover{
    background: #72a1de;
    color: rgba(0, 0, 0, 0.383);
    box-shadow: 0 0 15px #72a1de;
}

.box-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    /* 居中 */

}

.box-icon p {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-icon a {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}


footer {
    background-color: black;
    color: #555;
    padding: 20px;
    text-align: left;
    min-height: 25px;
}




.left{
    display: flex;
    align-items: center;
    gap: 20px;
}
.left img{
    width: 40px;
    margin: 0 15px;
}



@media(max-aspect-ratio:16/9){
    .back-vid{
         height: 100%;
         width: auto;
        }

}
@media(min-aspect-ratio:16/9){
    .back-vid {
        height: auto;
        width: 100%;
        }
}
